/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --visibility: visible;
  --color-title-decor: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --color-line: #ff0070;
  --aricle-color: #f1b2ce;
  --border-hover: rgba(255, 0, 112, 0.4);
}
