/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font), sans-serif;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: var(--header-gap);
  height: 100vh;
  min-height: 668px;
  padding: var(--main-padding);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--main-padding);
  right: var(--main-padding);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-line);
  border-right: 1px solid var(--color-line);
  color: var(--color-menu);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--main-padding);
  left: var(--main-padding);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-line);
  border-left: 1px solid var(--color-line);
  color: var(--color-line);
}

.header__symbol {
  position: absolute;
  top: var(--main-padding);
  right: calc(var(--main-padding) + 28px);
  visibility: var(--visibility);
  color: var(--color-line);
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.header__symbol::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 43px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--color-line);
  background-color: var(--color-line);
}

.header__theme-menu {
  align-self: center;
  margin-top: var(--margin-top-theme-menu);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  color: var(--color-line);
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: var(--main-font-size);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  transition: border 0.6s;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-line);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-line);
  pointer-events: none;
}

.title {
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: 83%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title {
  align-self: start;
}

.header__text {
  justify-self: end;
  align-self: start;
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.title-decor {
  color: var(--color-title-decor);
  background-color: var(--accent-color);
}

.main {
  padding: var(--main-vertical-padding) var(--main-padding);
  background-color: var(--bg-color); /*Так как в макете у блока с основным контентом в качестве фона выступает цвет, а не фоновое изображение */
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: var(--margin-section);
}

.section__title {
  color: var(--color-line);
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__title {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.article__text {
  color: var(--aricle-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--aricle-color);
}

.link:focus-visible {
  border: 1px solid var(--aricle-color);
  outline: none;
}

.article-advice h3 {
  margin-bottom: 10px;
}

.list {
  display: grid;
  gap: 20px;
}

.list-item-title {
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.section-pictures {
  gap: var(--main-padding);
  margin-bottom: 0;
}

.section-pictures .article__title {
  margin-bottom: 0;
}

.pictures {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: var(--main-padding);
  background-color: var(--bg-color); /*Так как в макете у футера в качестве фона выступает цвет, а не фоновое изображение */
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__title {
    align-self: center;
    margin-left: -20px;
  }

  .header__text {
    justify-self: flex-end;
    inline-size: 50%;
  }

  .section-why {
    grid-template-columns: minmax(min-content, var(--column-size)) 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .section-why .section__title {
    grid-column: 1/2;
  }

  .section-why .article {
    grid-column: 2/3;
  }

  .section-causes .section__title {
    max-width: var(--column-size);
  }

  .section-advices {
    grid-template-columns: minmax(min-content, var(--column-size)) 1fr;
  }

  .section-pictures {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
  }

  .section-pictures .article__title {
    grid-column: 1/4;
  }

  .pictures:nth-child(2) {
    grid-column: 1/3;
  }

  .pictures:nth-child(3) {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .pictures:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .pictures:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .pictures:nth-child(6) {
    grid-column: 2/4;
    grid-row: 4/5;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    justify-self: center;
  }

  .header__theme-menu {
    align-self: start;
  }

  .section-causes {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-causes .section__title {
    grid-column: 1/4;
  }
}
