/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  min-height: 668px;
  padding: var(--main-padding);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--main-padding);
  right: var(--main-padding);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-line);
  border-right: 1px solid var(--color-line);
  color: var(--color-menu);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--main-padding);
  left: var(--main-padding);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-line);
  border-left: 1px solid var(--color-line);
  color: var(--color-line);
}

.header__symbol {
  position: absolute;
  top: var(--main-padding);
  right: calc(var(--main-padding) + 28px);
  visibility: var(--visibility);
  color: var(--color-line);
  font-family: var(--main-font);
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: 25px;
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
  text-transform: uppercase;
}

.header__symbol::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 43px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--color-line);
  background-color: var(--color-line);
}

.title {
  color: var(--title-color);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
  line-height: 83%;
  letter-spacing: 0%;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title {
  margin-top: var(--margin-top-header-title);
  margin-bottom: var(--margin-bottom-header-title);
}

.header__text {
  max-height: 117px;
  margin-bottom: 56px;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
}

.title-decor {
  color: var(--color-title-decor);
  background-color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 10px;
  margin-top: var(--margin-menu);
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  color: var(--color-line);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: var(--main-font-size);
  letter-spacing: var(--main-letter-spacing);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-line);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-line);
  pointer-events: none;
}

.main {
  padding: var(--main-vertical-padding) var(--main-padding);
  background-color: var(--bg-color);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: var(--margin-section);
}

.section__title {
  color: var(--color-line);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
}

.article__title {
  margin-bottom: 10px;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
}

.title-decor-thin {
  font-weight: var(--font-weight-normal);
}

.concentration-title {
  margin-bottom: 0;
}

.article__text {
  color: var(--aricle-color);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--aricle-color);
}

.link:focus-visible {
  border: 1px solid var(--aricle-color);
  outline: none;
}

.pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--main-padding);
  margin-bottom: 0;
}

.pictures__title {
  margin-bottom: 0;
}

.picture {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: var(--main-padding);
  background-color: var(--bg-color);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header__title {
    max-height: 99px;
    margin-left: -20px;
  }

  .header__text {
    justify-self: flex-end;
    margin-left: 364px;
  }

  .section__title {
    grid-area: section-title;
    min-width: 236px;
  }

  .multitasking {
    grid-area: multitasking;
  }

  .dofamin {
    grid-area: dofamin;
  }

  .difficult {
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "section-title multitasking"
      "section-title dofamin";
  }

  .multitasking-lowers {
    grid-area: multitasking-lowers;
  }

  .food {
    grid-area: food;
  }

  .gadgets {
    grid-area: gadgets;
  }

  .lowers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "section-title"
      "multitasking-lowers"
      "food"
      "gadgets";
  }

  .lowers .section__title {
    max-width: 236px;
  }

  .concentration-title {
    grid-area: concentration-title;
  }

  .imagine {
    grid-area: imagine;
  }

  .music {
    grid-area: music;
  }

  .walking {
    grid-area: walking;
  }

  .eating {
    grid-area: eating;
  }

  .reading {
    grid-area: reading;
  }

  .concentration {
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(6, min-content);
    grid-template-areas:
      "section-title concentration-title"
      "section-title imagine"
      "section-title music"
      "section-title walking"
      "section-title eating"
      "section-title reading";
  }

  .pictures__title {
    grid-area: pictures__title;
  }

  .picture {
    height: 100%;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .pictures {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "pictures__title pictures__title pictures__title"
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-self: center;
  }

  .header__text {
    justify-self: flex-end;
    max-height: 70px;
    margin-left: 493px;
  }

  .section__title {
    min-width: 315px;
  }

  .lowers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "section-title section-title section-title"
      "multitasking-lowers food gadgets";
  }
}
