/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --visibility: visible;
  --color-title-decor: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --color-line: #ff0070;
  --aricle-color: #f1b2ce;
  --border-hover: rgba(255, 0, 112, 0.4);
  --main-padding: 10px;
  --main-font: "IBM Plex mono";
  --main-font-size: 18px;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-line-height: 23.4px;
  --margin-section: 50px;
  --main-vertical-padding: 40px;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --header-gap: 55px;
  --margin-top-theme-menu: 55px;
}

@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --margin-section: 80px;
    --main-vertical-padding: 60px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --column-size: 236px;
    --header-gap: 73px;
    --margin-top-theme-menu: 163px;
  }
}

@media (width >= 1024px) {
  :root {
    --column-size: 314.96px;
    --header-gap: 85px;
    --margin-top-theme-menu: 0px;
  }
}
